{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NBA Statistics & Charts</title>

    <!-- Bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- charts js-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js" integrity="sha256-fQOizuxGMT1DCcF0rU6EK8zQM6TwsSWGTHjL5UpxLlU=" crossorigin="anonymous"></script>

    <!-- jquery js-->
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <center>
        <h2>Statistics</h2>
        <div class="row">
        <br>
          <div id="links">
            <div class="col-sm-3">
              <a role="button" class="btn btn-info"
                 href="/?sort_by=quantity" id="quantity">by quantity</a></div>

            <div class="col-sm-3 col-sm-offset-2">
              <a role="button" class="btn btn-info"
                 href="/?sort_by=height" id="height">by height</a></div>

            <div class="col-sm-3 col-sm-offset-1">
              <a role="button" class="btn btn-info"
                 href="/?sort_by=experience" id="experience">by experience</a></div>
          </div>
        </div>
        <br>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>City</th>
            </tr>
          </thead>
          <tbody>
        {% for team in teams %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ team.0 }}</td>
              <td>{{ team.1}}</td>
            </tr>
        {% empty %}
          <h2>No data</h2>
        {% endfor %}
          </tbody>
        </table>
        <hr>
        <br>
        <div class="row">
          <div class="col-md-4">
            <canvas id="myChart1" width="300" height="300"></canvas>
          </div>

          <div class="col-md-4">
            <canvas id="myChart2" width="200" height="200"></canvas>
          </div>
          <div class="col-md-4">
            <canvas id="myChart3" width="100" height="100"></canvas>
          </div>
        </div>
      </center>
    </div>

    <script>

        function setAciveButton () {
          var current_link = window.location.href;
          var current_sorting = current_link.substr(current_link.indexOf("=")+1);
          var buttons_id = [];
          var DEFAULT_SORTING_BY = 'quantity';// quantity height experience

          buttons_id = $.map($('a.btn'),function(val){
            return val.id;
          });


          for(var i=0;i<buttons_id.length;i++){
            //when page load without get ars
            if (current_link.length==current_sorting.length || current_sorting==DEFAULT_SORTING_BY) {
              $('#'+DEFAULT_SORTING_BY).removeClass('btn btn-info');
              $('#'+DEFAULT_SORTING_BY).addClass('btn btn-primary');

            //when button id == sort method (get arg sort_by)
            }else if(buttons_id[i]==current_sorting){
              $('#'+buttons_id[i]).removeClass('btn btn-info');
              $('#'+buttons_id[i]).addClass('btn btn-primary');

            }else{
              $('#'+buttons_id[i]).removeClass('btn btn-primary');
              $('#'+buttons_id[i]).addClass('btn btn-info');
            }
          }

        };

        function buildChart (chartName,labels,inputData,elementName) {
            var ctx = document.getElementById(elementName).getContext("2d");

            var data = {
                    labels: labels,
                    datasets: [
                    {
                      label: chartName,
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                      ],
                      borderColor: [
                          'rgba(255,99,132,1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 1,
                      data: inputData,
                    }
                ]
            };


          var myBarChart = new Chart(ctx, {
              type: 'bar',
              data: data,
              options: {
                        scales: {
                            yAxes: [{
                              ticks: {
                                beginAtZero:true
                              }
                            }]
                        }
                      }
            });
        }

      function updateTeamDataByQuantity (argument) {
        var url = 'http://localhost:8000/?sort_by=quantity';
        var chartName = "Average team player quantity";
        var team_data;

          $.get(url, function(data){

              var names = data.teams;
              var average_quantity= data.quantity;
              buildChart(chartName,names,average_quantity,"myChart1");
          });
      }

      function updateTeamDataByHeight (argument) {
        var url = 'http://localhost:8000/?sort_by=height';
        var chartName = "Average team player height";
        var team_data;

          $.get(url, function(data){

              var names = data.teams;
              var average_height = data.height;
              buildChart(chartName,names,average_height,"myChart2");
          });
      }

      function updateTeamDataByExp (argument) {
        var url = 'http://localhost:8000/?sort_by=experience';
        var chartName = 'Average team player experience';
        var team_data;

          $.get(url, function(data){

              var names = data.teams;
              var average_exp = data.exp;
              buildChart(chartName,names,average_exp,"myChart3");
          });
      }


      updateTeamDataByQuantity();
      updateTeamDataByHeight();
      updateTeamDataByExp();
      setAciveButton();

    </script>
  </body>
</html>
